<!DOCTYPE html>
<html>
  <head>
    <title>Django</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style type="text/css">
      @import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
      @import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
      @import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

      body { font-family: 'Droid Serif'; }
      h1, h2, h3 {
        font-family: 'Yanone Kaffeesatz';
        font-weight: normal;
      }
      .remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }
    </style>
  </head>
  <body>
    <textarea id="source">

class: center, middle

# Django MVC and Project Layout

#### Project repo: [django-payasyougo](https://github.com/aronysidoro/django-payasyougo)

---

class: center, middle

# About Me

![drawing](profile-pic.jpg)

Hi, I'm Aaron Lelevier. 

SQL Server full-time

Django / Python part-time

Volunteer tutoring at Innevation Center

Current project: [Textress.com](https://textress.com) is 
SMS chat for businesses.

---

# Agenda

1. Django MVC Structure
    - MVC and URLs
    - URLs Continued
2. Models
3. Django ORM
4. Create Custom Managers 
5. Custom QuerySets and Managers
6. Controller
7. View
    - base.html
    - profile.html
8. Views use Regex, kwargs
9. Tests
10. MVC example of decoupling
11. Questions?
12. Some References
---

# Django MVC Structure

#### Model (models.py)

```python
class Hotel(models.Model):
    name = models.CharField("Name", unique=True, max_length=100)
```

#### Controller (views.py)

```python
def hotel_view(request):
    hotel = Hotel.objects.first()
    return render(request, "hotel.html", {'hotel': hotel})
```

#### View (hotel.html)

```xml
<h1>Hotel Name: {{ hotel.name }}</h1>
```

#### URLs (urls.py)

```python
urlpatterns = patterns('',
    url(r'^hotel-view/$', views.hotel_view, name='hotel_view'),
)
```

---

## URLs Continued

```python
urlpatterns = patterns('',
    url(r'^hotel-view/$', views.hotel_view, name='hotel_view'),
)
```

#### Access URL from other views

```python
def login(request):
    # view logic here
    return HttpResponseRedirect(reverse('hotel_view'))
```

#### Make the URL available in the HTML Template

```xml
<div>
...
    <p><a href="{% url 'hotel_view' %}">Hotel View</a></p>
...
</div>
```

---

# Models (models.py)

Models can use Inheritance

TimeStampBase example from [Two Scoops of Django](http://twoscoopspress.org/products/two-scoops-of-django-1-8)
 
```python
class TimeStampBase(models.Model):
    created = models.DateTimeField(auto_now_add=True)
    modified = models.DateTimeField(auto_now=True)

    class Meta:
        abstract = True

class Hotel(TimeStampBase):
    name = models.CharField(_("Hotel Name"), unique=True, max_length=100)
    address_phone = models.CharField(_("Contact Phone Number"), max_length=12,
        help_text="10-digit phone number. i.e.: 7025101234")
    address_zip = models.PositiveIntegerField(_("Zipcode"), max_length=5,
        help_text="5-digit zipcode. i.e.: 89109")

    def __str__(self):
        return self.name

    @property
    def area_code(self):
        return self.address_phone[:3]
```

---

# Django ORM

#### Get the 1st hotel record
```python
hotel = Hotel.objects.first()
```

#### Get all hotel records
```python
hotels = Hotel.objects.all()
```

#### Get all hotels in the 89109 zip code
```python
hotels = Hotel.objects.filter(address_zip=89109)
```

#### Call filters on fields
```python
# date is a "datetime" object
hotels = Hotel.objects.filter(modified__gte=date) 
```

---

# Create Custom Managers

```python
import datetime
from django.db import models

class HotelManager(models.Manager):
    def recent_hotels(self):
        date = datetime.datetime.now() - datetime.timedelta(days=30)
        return self.filter(created__gte=date)

class Hotel(models.Model):
    created = models.DateTimeField(auto_now_add=True)
    # other model fields here

    objects = HotelManager()
```

#### Then just call the custom Manager method
```python
recent_hotels = Hotel.objects.recent_hotels()
```

---

# Custom QuerySets and Managers

```python
class HotelQuerySet(models.query.QuerySet):
    def active(self):
        return self.filter(active=True)

    def strip_hotels(self):
        return self.filter(address_zip=89109)

class HotelManager(models.Manager):
    def get_queryset(self):
        return HotelQuerySet(self.model, self._db)

    def active(self):
        return self.get_queryset().active()

    def strip_hotels(self):
        return self.get_queryset().strip_hotels()

# Now I can call my custom Manager methods together
active_strip_hotels = Hotel.objects.active().strip_hotels()
```

#### Good video blog on how to use these together

[GoDjango: Better Models Through Custom Managers and QuerySets](https://godjango.com/51-better-models-through-custom-managers-and-querysets/)

---

# Controller (views.py)

```python
from django.views.generic import TemplateView

class IndexView(TemplateView):
    template_name = "index.html"
```

```python
# django-braces
from braces.views import LoginRequiredMixin, SetHeadlineMixin

class UserDetailView(LoginRequiredMixin, SetHeadlineMixin, TemplateView):
    template_name = 'profile.html'

    def get_headline(self):
        return "<em>{}'s</em> Home Page".format(self.request.user)

    def get_context_data(self, **kwargs):
        context = super().get_context_data(**kwargs)
        # populate user in the context w/o the password key
        user_dict = model_to_dict(self.request.user)
        user_dict.pop("password", None)
        context['user_dict'] = user_dict
        return context
```

[django-braces](https://django-braces.readthedocs.org/en/latest/): use composition to add common functionality to CBVs
---

# View (base.html)

```xml
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app="django-forms">
    <head>
        <title>django-payasyougo</title>
        {% block main_css %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        {% endblock main_css %}
    </head>
    <body>
        <div class="container">
            {% if not user.is_authenticated %}
                <a href="{% url 'login' %}"><button>Login</button></a>
            {% else %}
                <a href="{% url 'logout' %}"><button>Logout</button></a>
            {% endif %}
            {% block content %}
            {% endblock content %}
        </div>
        {% block main_js %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
            <script src="{% static 'forms/js/ng-django-forms.js' %}"></script>
        {% endblock main_js %}
    </body>
</html>
```

---
# View (profile.html)

#### views.py: class UserDetailView ...

```xml
{% extends "base.html" %}

{% block content %}
<div class="row">
    <h1>{{ headline|safe }}</h1>
</div>
<div class="row">
    <h2><em>{{ user }}</em> Info</h2>
    <ul>
        {% for k,v in user_dict.items %}
            <li><b>{{ k }}:</b> {{ v }}
        {% endfor %}
    </ul>
</div>
{% endblock content %}
```

---

# Views use Regex, kwargs

#### urls.py
```python
from django.conf.urls import patterns
from account import views

urlpatterns = patterns('',
    url(r'^hotel-detail-view/(?P<pk>\d+)/$', views.hotel_detail_view,
        name='hotel_detail_view'),
)
```

#### views.py
```python
from django.shorcuts import get_object_or_404

def hotel_detail_view(request, pk):
    hotel = get_object_or_404(Hotel, pk=pk)
    return render(request, "hotel.html", {'hotel': hotel})
    
```

#### hotel.html
```xml
<a href="{% url 'hotel_detail_view' hotel.pk %}">Hotel Detail View</a>
```

---

# Tests

#### Use TestCase and/or py.test

```python
from model_mommy import mommy

class ViewTests(TestCase):

    def setUp(self):
        self.hotel = mommy.make(Hotel)

    def test_index(self):
        response = self.client.get(reverse('hotel_detail_view',
            kwargs={'pk': self.hotel.pk}))
        self.assertEqual(response.status_code, 200)
        self.assertEqual(response.context['hotel'], self.hotel)
```

[model_mommy](https://model-mommy.readthedocs.org/en/latest/): use to easily generate Models for testing.

[django-nose](https://pypi.python.org/pypi/django-nose)

[django-coverage](https://pypi.python.org/pypi/django-coverage)

---

# MVC example of decoupling

#### Use built-in Django forms and views for authentication

```python
from django.contrib.auth import views, forms

urlpatterns = patterns('',
    url(r'^login/$', views.login,
        {'template_name': 'login.html',
        'authentication_form': forms.AuthenticationForm},
        name='login'),
    )
```

#### login.html
```xml
<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>
```

---

class: center, middle

# Questions?

---

# Some References

Libraries / resources
- Class Based Views reference: [http://ccbv.co.uk/](http://ccbv.co.uk/)
- [django-angular](http://django-angular.readthedocs.org/en/latest/index.html): for easy integration with AngularJS
for client side form validation
- Django Library references
    - [awesome-django](http://awesome-django.com/)
    - [django packages](https://www.djangopackages.com/)

My Preferred Django stack:
- **Python / Django**
- **PostgreSQL** - preferred DB of core django devs
- **Nginx** - reverse proxy, encryption, load balancer
- **uWSGI** - works with websockets
- **Celery** - distributed task queue
- **Redis** - data store
- **RabbitMQ** - message broker
- **SaltStack** - server configuration management (like chef, puppet)
- **AngularJS** - preferred frontend Js framework


    </textarea>
    <script src="https://gnab.github.io/remark/downloads/remark-latest.min.js">
    </script>
    <script>
      var slideshow = remark.create();
    </script>
  </body>
</html>